[
  {
    "user": "{{ deploy_user }}",
    "id": "deploy-user",
    "password": "{{ deploy_user_pass }}"
  },
  {
    "user": "{{ artifactory_deployer }}",
    "id": "artifactory-deploy-user",
    "password": "{{ artifactory_deployer_pass }}"
  }
]
